<a href="https://colab.research.google.com/github/Rohianon/Prohack-Challenge/blob/master/Prohack.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# The Prohack Competition.

In this task we are going to predict the well being of the species. 

### Problem Statement.
optimize the well-being across all the galaxies.

### Obectives
- To understand what index makes the intergalactic species better off:
    - Use the data and train a model to predict this index with the highest possible level of certainty.

- To achieve the highest possible level of well-being through optimized allocation of additional energy:
    - A  star of an unusually high energy of 50000 zillion DSML has been discovered.
    - No one galaxy will consume more than 100 zillion DSML and,
    - at least 10% of the total energy will be consumed by galaxies in need with existence expectancy index below 0,7.

### Target variable 
y - an index of measure of well being.

### Problem Type
- Regression problem with a continuous target variable. 

### Metric
Root Mean Square Error.

The data set is contained in the following [link](https://prohack.org/media/prohack_dataset_avOqBYc.zip). Lets begin the analysis by extracting the data into our working directory.

In [0]:
#Data Extraction
!unzip -q prohack_dataset.zip

Required libraries.

In [0]:
import pandas as pd
import numpy as np

In [0]:
# Dataset.
pd.set_option('display.max_columns',None)

train = pd.read_csv('/content/train.csv')
test = pd.read_csv('/content/test.csv')

Basic information about the dataset ie the shape and info about the variables.

In [0]:
def explore_data(df,start=10,stop=20):
    data = df.iloc[start:stop]#the slice you want

    print(f'The dimensions of your data is {df.shape}')
    print(f'Number of rows:{df.shape[0]}')
    print(f'Number of columns: {df.shape[1]}')

    print('A glimpse of your Data is:-')
    return data

In [34]:
explore_data(train)

The dimensions of your data is (3865, 80)
Number of rows:3865
Number of columns: 80
A glimpse of your Data is:-

,galactic year,galaxy,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),Education Index,"Intergalactic Development Index (IDI), Rank",Population using at least basic drinking-water services (%),Population using at least basic sanitation services (%),Gross capital formation (% of GGP),"Population, total (millions)","Population, urban (%)","Mortality rate, under-five (per 1,000 live births)","Mortality rate, infant (per 1,000 live births)",Old age dependency ratio (old age (65 and older) per 100 creatures (ages 15-64)),"Population, ages 15–64 (millions)","Population, ages 65 and older (millions)","Life expectancy at birth, male (galactic years)","Life expectancy at birth, female (galactic years)","Population, under age 5 (millions)",Young age (0-14) dependency ratio (per 100 creatures ages 15-64),"Adolescent birth rate (births per 1,000 female creatures ages 15-19)",Total unemployment rate (female to male ratio),Vulnerable employment (% of total employment),"Unemployment, total (% of labour force)",Employment in agriculture (% of total employment),Labour force participation rate (% ages 15 and older),"Labour force participation rate (% ages 15 and older), female",Employment in services (% of total employment),"Labour force participation rate (% ages 15 and older), male",Employment to population ratio (% ages 15 and older),Jungle area (% of total land area),"Share of employment in nonagriculture, female (% of total employment in nonagriculture)",Youth unemployment rate (female to male ratio),"Unemployment, youth (% ages 15–24)","Mortality rate, female grown up (per 1,000 people)","Mortality rate, male grown up (per 1,000 people)","Infants lacking immunization, red hot disease (% of one-galactic year-olds)","Infants lacking immunization, Combination Vaccine (% of one-galactic year-olds)",Gross galactic product (GGP) per capita,"Gross galactic product (GGP), total","Outer Galaxies direct investment, net inflows (% of GGP)",Exports and imports (% of GGP),Share of seats in senate (% held by female),Natural resource depletion,"Mean years of education, female (galactic years)","Mean years of education, male (galactic years)","Expected years of education, female (galactic years)","Expected years of education, male (galactic years)","Maternal mortality ratio (deaths per 100,000 live births)",Renewable energy consumption (% of total final energy consumption),"Estimated gross galactic income per capita, male","Estimated gross galactic income per capita, female",Rural population with access to electricity (%),Domestic credit provided by financial sector (% of GGP),"Population with at least some secondary education, female (% ages 25 and older)","Population with at least some secondary education, male (% ages 25 and older)",Gross fixed capital formation (% of GGP),"Remittances, inflows (% of GGP)",Population with at least some secondary education (% ages 25 and older),Intergalactic inbound tourists (thousands),"Gross enrolment ratio, primary (% of primary under-age population)","Respiratory disease incidence (per 100,000 people)",Interstellar phone subscriptions (per 100 people),"Interstellar Data Net users, total (% of population)",Current health expenditure (% of GGP),"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),"Intergalactic Development Index (IDI), female, Rank","Intergalactic Development Index (IDI), male, Rank",Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP),Gender Inequality Index (GII),y
10,990025,Antlia Dwarf,0.828028,71.256422,21431.826516,0.856276,14.182337,11.856185,0.754593,0.748314,159.343087,NaN,NaN,32.549113,1142.376983,84.511475,190.613952,106.258122,16.963963,397.513981,100.910702,67.759661,72.187559,60.945394,99.320345,89.281438,NaN,NaN,NaN,NaN,67.693772,65.809307,NaN,68.785281,NaN,33.962160,NaN,NaN,NaN,296.086775,386.709267,20.918007,17.500636,20195.665587,9282.601852,NaN,101.644043,NaN,9.716022,11.760182,10.630940,NaN,NaN,421.900387,31.967798,NaN,NaN,NaN,NaN,92.351480,113.159592,39.163214,NaN,103.718666,NaN,122.501140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.605437,5.680441,NaN,NaN,0.059472
11,990025,IC 1613 (UGC 668),0.655813,58.704321,23271.835536,0.612368,8.107780,3.838013,0.531766,0.285880,177.329281,NaN,NaN,29.706129,695.217047,49.405859,268.152690,186.091742,16.553784,430.737028,72.111516,56.839904,61.331874,37.734971,104.941717,242.954747,NaN,NaN,NaN,NaN,73.482475,79.629287,NaN,75.739002,NaN,47.781086,NaN,NaN,NaN,350.959417,405.564919,83.177325,69.291705,16093.875505,6738.180424,19.476539,116.855168,NaN,15.894243,NaN,NaN,5.506477,6.968865,1439.116881,123.382166,NaN,NaN,NaN,NaN,NaN,NaN,29.913332,7.011539,NaN,NaN,62.261197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.190769,5.221740,NaN,NaN,0.048902
12,990025,Leo P,1.068957,90.854092,48579.590188,1.082535,17.459732,13.422714,1.053766,0.964813,75.269476,NaN,NaN,31.797523,565.471169,93.852444,60.235244,34.263800,21.380147,238.659847,67.637712,83.839278,87.600337,80.185773,54.379529,47.391419,NaN,NaN,NaN,NaN,62.975603,61.909342,NaN,79.555716,NaN,38.190618,NaN,NaN,NaN,188.499572,151.651201,8.635400,13.340571,50706.518869,2536.488513,16.652332,188.228991,NaN,6.152937,15.030117,11.558761,17.323474,16.972985,409.942084,9.184729,NaN,NaN,129.591660,NaN,87.247344,125.873058,34.543141,10.605843,114.280489,NaN,115.018930,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35.631013,5.686449,28.920114,NaN,0.178066
13,990025,"Cassiopeia Dwarf (Cas dSph, Andromeda VII)",0.951549,85.030094,39647.220197,1.000001,16.000716,14.202926,0.867767,0.774059,95.377798,NaN,NaN,33.849188,933.792167,80.528625,59.165553,39.553203,25.392601,470.145069,11.958070,80.903038,87.625272,57.619115,49.598948,57.773169,NaN,NaN,NaN,NaN,69.117844,56.869783,NaN,82.994390,NaN,24.356811,NaN,NaN,NaN,161.982947,248.361149,35.076926,25.380196,40446.365508,7842.939039,2.673459,182.956825,NaN,3.633254,14.834341,12.689600,17.404006,16.228044,369.005490,32.564129,NaN,NaN,115.584166,NaN,81.001584,92.465198,24.480367,10.495710,100.742419,NaN,123.440827,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.813574,NaN,NaN,0.154910
14,990025,Draco II,0.561894,58.912252,18747.428699,0.604681,3.977402,4.805284,0.492966,0.396193,NaN,NaN,NaN,NaN,642.577800,45.054761,217.993541,173.331428,10.397409,521.553426,71.007543,56.967588,59.734142,102.559083,119.174143,195.891516,NaN,NaN,NaN,NaN,73.409597,63.876674,NaN,90.535580,NaN,37.054104,NaN,NaN,NaN,435.919943,482.497359,96.533149,58.416751,NaN,NaN,NaN,NaN,NaN,NaN,4.457722,4.938294,NaN,NaN,1791.148111,38.541344,NaN,NaN,NaN,NaN,26.034075,41.179528,NaN,NaN,48.279745,NaN,49.426976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.050220
15,990025,Sagittarius II,0.900157,87.736478,29302.252053,0.900095,15.750780,12.096678,0.896661,0.813344,81.698352,NaN,NaN,34.608940,570.110842,95.965653,63.125895,43.271861,28.030085,340.018669,43.220449,78.563585,82.971366,82.685915,60.949849,136.302031,NaN,NaN,NaN,NaN,76.830559,73.583944,NaN,69.730403,NaN,49.906822,NaN,NaN,NaN,189.228298,297.357979,18.372245,14.547255,33380.201119,11804.586438,11.881221,134.722952,NaN,6.165595,11.938958,10.958494,16.230199,14.004808,306.768598,26.058595,NaN,NaN,115.883247,NaN,87.133635,117.101104,29.217153,NaN,89.579382,NaN,116.036552,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.252422,4.307926,NaN,NaN,0.091072
16,990025,Carina III,0.989456,75.800059,24891.436792,0.752552,13.417376,14.641988,0.751911,0.802376,98.696254,NaN,NaN,55.980672,742.746047,96.105688,98.108080,63.471721,19.617085,608.956699,54.415490,74.907212,81.623246,72.300330,60.028359,80.812663,NaN,NaN,NaN,NaN,70.864755,60.650138,NaN,75.329116,NaN,19.788202,NaN,NaN,NaN,220.512715,295.120472,NaN,NaN,21339.884296,6949.630111,NaN,101.636560,NaN,NaN,15.105406,13.457886,NaN,NaN,326.088594,31.114325,NaN,NaN,NaN,NaN,100.162449,121.225918,55.386293,NaN,112.229578,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.168971,NaN,NaN,0.082964
17,990025,UGCA 133 (DDO 44),0.562213,59.069890,17551.455514,0.638409,8.115963,7.409903,0.552880,0.488571,171.343274,NaN,NaN,34.563588,175.983673,49.602759,234.256647,131.010303,17.071428,599.309731,32.159976,63.239507,59.587773,62.728932,115.259553,186.590416,NaN,NaN,NaN,NaN,100.411156,97.039856,NaN,93.759877,NaN,83.938578,NaN,NaN,NaN,448.483952,583.948207,38.568831,14.576117,27289.452514,9052.806529,16.917632,127.270982,NaN,12.954184,6.491445,7.070786,7.993612,8.101812,1220.450808,146.130697,NaN,NaN,NaN,104.960945,37.652641,126.196985,34.316618,NaN,23.975034,NaN,82.559328,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.394272,10.148212,NaN,NaN,0.051881
18,990025,Lacerta I (Andromeda XXXI),0.831218,75.583884,27631.426302,0.915378,15.823600,12.322886,0.872507,0.793564,123.529858,NaN,NaN,NaN,677.857891,88.760506,112.715384,79.984648,20.955018,548.586367,53.363388,71.065611,83.510794,75.758931,67.991707,114.405237,NaN,NaN,NaN,NaN,82.249200,73.899361,NaN,81.847380,NaN,33.759547,NaN,NaN,NaN,204.945073,463.246480,NaN,NaN,35518.882716,6549.317598,NaN,NaN,NaN,NaN,11.027675,14.366821,NaN,NaN,402.322548,17.545581,NaN,NaN,NaN,NaN,99.981596,94.441124,NaN,NaN,83.392783,NaN,131.629173,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.750289,NaN,NaN,0.072029
19,990025,Boötes IV,0.833808,70.506143,17635.842078,0.827792,11.887409,8.836915,0.615988,0.461565,132.179592,NaN,NaN,41.364349,672.340049,58.896251,136.961926,95.331166,19.506060,491.914689,75.790264,71.039056,72.239172,87.579040,91.115261,135.298106,NaN,NaN,NaN,NaN,53.449388,32.623980,NaN,80.899012,NaN,21.274336,NaN,NaN,NaN,218.861733,368.819243,32.107806,17.023980,23362.251109,7881.639457,15.919003,114.088266,NaN,21.147928,6.025782,6.826282,12.830390,14.583005,474.995138,45.559390,NaN,NaN,NaN,169.784001,28.900659,44.419371,35.650985,12.936624,68.059585,NaN,108.527695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,22.622977,5.279254,14.634943,NaN,0.058657

In [6]:
explore_data(test)

The dimensions of your data is (890, 79)
Number of rows:890
Number of columns: 79
A glimpse of your Data is:-

,galactic year,galaxy,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),Education Index,"Intergalactic Development Index (IDI), Rank",Population using at least basic drinking-water services (%),Population using at least basic sanitation services (%),Gross capital formation (% of GGP),"Population, total (millions)","Population, urban (%)","Mortality rate, under-five (per 1,000 live births)","Mortality rate, infant (per 1,000 live births)",Old age dependency ratio (old age (65 and older) per 100 creatures (ages 15-64)),"Population, ages 15–64 (millions)","Population, ages 65 and older (millions)","Life expectancy at birth, male (galactic years)","Life expectancy at birth, female (galactic years)","Population, under age 5 (millions)",Young age (0-14) dependency ratio (per 100 creatures ages 15-64),"Adolescent birth rate (births per 1,000 female creatures ages 15-19)",Total unemployment rate (female to male ratio),Vulnerable employment (% of total employment),"Unemployment, total (% of labour force)",Employment in agriculture (% of total employment),Labour force participation rate (% ages 15 and older),"Labour force participation rate (% ages 15 and older), female",Employment in services (% of total employment),"Labour force participation rate (% ages 15 and older), male",Employment to population ratio (% ages 15 and older),Jungle area (% of total land area),"Share of employment in nonagriculture, female (% of total employment in nonagriculture)",Youth unemployment rate (female to male ratio),"Unemployment, youth (% ages 15–24)","Mortality rate, female grown up (per 1,000 people)","Mortality rate, male grown up (per 1,000 people)","Infants lacking immunization, red hot disease (% of one-galactic year-olds)","Infants lacking immunization, Combination Vaccine (% of one-galactic year-olds)",Gross galactic product (GGP) per capita,"Gross galactic product (GGP), total","Outer Galaxies direct investment, net inflows (% of GGP)",Exports and imports (% of GGP),Share of seats in senate (% held by female),Natural resource depletion,"Mean years of education, female (galactic years)","Mean years of education, male (galactic years)","Expected years of education, female (galactic years)","Expected years of education, male (galactic years)","Maternal mortality ratio (deaths per 100,000 live births)",Renewable energy consumption (% of total final energy consumption),"Estimated gross galactic income per capita, male","Estimated gross galactic income per capita, female",Rural population with access to electricity (%),Domestic credit provided by financial sector (% of GGP),"Population with at least some secondary education, female (% ages 25 and older)","Population with at least some secondary education, male (% ages 25 and older)",Gross fixed capital formation (% of GGP),"Remittances, inflows (% of GGP)",Population with at least some secondary education (% ages 25 and older),Intergalactic inbound tourists (thousands),"Gross enrolment ratio, primary (% of primary under-age population)","Respiratory disease incidence (per 100,000 people)",Interstellar phone subscriptions (per 100 people),"Interstellar Data Net users, total (% of population)",Current health expenditure (% of GGP),"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),"Intergalactic Development Index (IDI), female, Rank","Intergalactic Development Index (IDI), male, Rank",Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP),Gender Inequality Index (GII)
10,1009020,Antlia B,0.601854,59.167346,13322.109010,0.576944,12.029117,3.962841,0.509513,0.664773,238.449322,52.092075,47.152936,19.947035,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1013042,Hydra II,0.603061,60.099897,13986.924534,0.649001,13.332452,8.953803,0.698667,0.523444,210.322751,91.580040,47.238321,33.578771,681.022441,67.129287,148.268530,108.916578,15.836139,24.551217,47.284078,65.742388,61.618409,90.960923,87.270370,157.444689,3.476115,100.803696,10.482423,55.205402,62.703911,53.916285,61.304119,78.045557,70.390017,60.181570,56.142929,2.617957,17.328388,456.210019,569.750639,53.171179,19.037725,15664.352224,7332.115016,6.945168,130.879234,26.018027,14.793318,6.667972,8.625702,11.982069,13.048148,966.239167,97.704274,35723.568194,14778.252145,47.691440,68.637253,30.970422,64.906059,27.885988,6.959459,64.802552,133933.112859,90.290813,419.565649,172.647679,47.300268,6.855094,0.556809,0.563342,0.893750,194.961075,189.391344,30.317835,7.377363,26.104668,0.850741
12,1008016,KK98 77,0.609152,54.660167,10153.603753,0.563321,13.278242,8.479945,0.618066,0.709992,220.768751,84.934517,62.293994,9.946494,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,1009020,Hydra II,0.611594,61.454333,20106.684713,0.702298,11.294029,6.132373,0.646301,0.530086,233.617884,94.795041,56.827535,23.105952,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,1012036,UGC 8651 (DDO 181),0.612233,69.209953,13851.466576,0.564426,8.571510,9.887056,0.569860,0.551509,246.130642,66.103265,45.489560,17.705497,224.413508,40.881663,155.490735,80.456951,12.557677,271.789084,62.055457,57.062293,67.825333,63.531526,106.732885,143.161295,3.083198,113.851598,22.333720,79.953499,84.386410,85.289334,44.213930,78.798298,70.494170,NaN,45.904002,2.433693,25.720943,365.276115,387.366837,59.830825,38.178380,26870.216056,7443.731943,9.412285,110.970048,44.257425,8.765771,5.818941,8.551394,7.661559,9.736942,1111.852872,53.703372,27038.057954,15043.607069,61.137630,39.330405,NaN,NaN,16.926938,NaN,NaN,NaN,NaN,356.791739,101.151768,NaN,NaN,0.518329,0.645659,0.955325,216.149319,206.575420,NaN,5.375744,NaN,NaN
15,1010025,KKR 25,0.613465,63.372592,18910.310495,0.850279,11.646421,8.801534,0.684517,0.602898,221.659951,84.866041,71.383217,25.932330,861.682714,75.039773,180.255948,95.212437,12.317686,370.129950,80.364747,60.786732,63.954038,131.378339,108.454154,175.123835,2.742172,100.936371,10.171213,61.893781,72.707551,67.404338,78.187253,70.027976,70.411007,34.186722,69.987099,1.837833,20.667335,455.231029,446.293752,49.450105,49.365940,17778.894599,3191.935012,14.795475,118.325756,16.240762,11.986104,8.912933,8.514178,11.756278,12.645651,1309.666806,118.423785,26356.643829,17648.088135,64.211763,99.111702,NaN,NaN,25.494727,11.216957,NaN,91945.016412,103.652395,453.775119,112.138391,46.865019,4.530520,0.678893,0.661157,0.924173,188.634345,176.323936,20.255304,7.852152,34.610927,NaN
16,1015056,NGC 300,0.622795,74.189567,10405.605771,0.475047,10.045516,6.530153,0.465068,0.401016,240.414741,52.319475,38.637450,44.545932,658.325858,36.111639,179.002725,70.980789,11.402280,440.786749,65.619890,65.981316,72.259180,55.996633,131.308913,237.211563,1.455193,118.559030,6.388857,102.649211,93.957206,83.039705,39.020973,100.613938,91.179606,24.446857,65.303048,1.322896,9.904149,333.586512,340.916042,35.627555,16.137748,5731.202375,8367.801406,15.663708,94.413328,23.789991,25.711515,6.548236,6.443059,7.822163,6.094778,1019.515237,115.146443,14104.443856,7796.074498,53.860628,102.063377,42.651951,26.479826,45.496996,15.026334,37.982706,94383.703369,86.906374,278.637230,100.474068,28.847259,9.995664,0.245597,0.512716,0.367566,217.674778,170.099941,22.941052,3.986399,21.336040,0.864970
17,1011030,KKR 25,0.623630,63.168456,22497.002609,0.801828,10.413962,8.825251,0.528691,0.555628,195.545685,86.967905,57.283840,23.588288,897.022361,64.203429,178.241023,116.125258,12.678608,497.716581,34.458927,59.414509,62.467837,99.979798,90.304033,167.532358,1.967463,111.355997,9.519826,71.462326,61.559079,70.105024,68.358138,67.170061,66.146743,33.028865,67.761029,2.187347,21.344551,445.818906,490.332773,74.782949,54.511247,23227.814736,6314.068933,20.273857,112.960999,17.359118,19.712617,7.033654,10.587259,11.698167,12.925551,994.608032,116.963182,27130.091581,20182.757484,81.268635,48.689641,NaN,NaN,23.723462,11.470767,NaN,104531.390112,119.468726,509.775455,120.293558,42.396865,7.111491,0.668082,0.610232,0.930269,154.391373,188.459913,23.350300,8.378883,20.789831,NaN
18,1009020,Reticulum III,0.625082,59.722499,23405.399543,0.553998,8.152419,7.563465,0.602664,0.421974,228.535610,44.245213,50.446339,39.444683,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,1008016,Antlia B,0.625940,59.522566,23913.546397,0.588433,12.616095,7.575623,0.624740,0.528913,236.962333,63.852824,40.510117,27.086317,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
#checking for any duplicates in the data.
def duplicates(df):
    mask = df.duplicated()
    return df[mask].shape

duplicates(train)

(0, 80)

Seems that there are  zero duplicates in the train dataset. Lets also check the for duplicates in the test dataset.

In [28]:
duplicates(test)

(0, 79)

Similarly, test has no duplicated rows.

# Exploratory Data Analysis.

Viewing the information about the two datasets.

In [19]:
def information(data1,data2):
    data1.info()
    data2.info()


information(train,test)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3865 entries, 0 to 3864
Data columns (total 80 columns):
 #   Column                                                                                   Non-Null Count  Dtype
---  ------                                                                                   --------------  -----
 0   galactic year                                                                            3865 non-null   int64
 1   galaxy                                                                                   3865 non-null   object
 2   existence expectancy index                                                               3864 non-null   float64
 3   existence expectancy at birth                                                            3864 non-null   float64
 4   Gross income per capita                                                                  3837 non-null   float64
 5   Income Index                                                                             3837 non-null   float64
 6   Expected years of education (galactic years)                                             3732 non-null   float64
 7   Mean years of education (galactic years)                                                 3502 non-null   float64
 8   Intergalactic Development Index (IDI)                                                    3474 non-null   float64
 9   Education Index                                                                          3474 non-null   float64
 10  Intergalactic Development Index (IDI), Rank                                              3432 non-null   float64
 11  Population using at least basic drinking-water services (%)                              2021 non-null   float64
 12  Population using at least basic sanitation services (%)                                  2015 non-null   float64
 13  Gross capital formation (% of GGP)                                                       1502 non-null   float64
 14  Population, total (millions)                                                             1271 non-null   float64
 15  Population, urban (%)                                                                    1271 non-null   float64
 16  Mortality rate, under-five (per 1,000 live births)                                       1271 non-null   float64
 17  Mortality rate, infant (per 1,000 live births)                                           1259 non-null   float64
 18  Old age dependency ratio (old age (65 and older) per 100 creatures (ages 15-64))         1264 non-null   float64
 19  Population, ages 15–64 (millions)                                                        1264 non-null   float64
 20  Population, ages 65 and older (millions)                                                 1264 non-null   float64
 21  Life expectancy at birth, male (galactic years)                                          1264 non-null   float64
 22  Life expectancy at birth, female (galactic years)                                        1264 non-null   float64
 23  Population, under age 5 (millions)                                                       1264 non-null   float64
 24  Young age (0-14) dependency ratio (per 100 creatures ages 15-64)                         1264 non-null   float64
 25  Adolescent birth rate (births per 1,000 female creatures ages 15-19)                     1252 non-null   float64
 26  Total unemployment rate (female to male ratio)                                           1237 non-null   float64
 27  Vulnerable employment (% of total employment)                                            1237 non-null   float64
 28  Unemployment, total (% of labour force)                                                  1237 non-null   float64
 29  Employment in agriculture (% of total employment)                                        1237 non-null   float64
 30  Labour force participation rate (% ages 15 and older)                                    1237 non-null   float64
 31  Labour force participation rate (% ages 15 and older), female                            1237 non-null   float64
 32  Employment in services (% of total employment)                                           1237 non-null   float64
 33  Labour force participation rate (% ages 15 and older), male                              1237 non-null   float64
 34  Employment to population ratio (% ages 15 and older)                                     1237 non-null   float64
 35  Jungle area (% of total land area)                                                       1234 non-null   float64
 36  Share of employment in nonagriculture, female (% of total employment in nonagriculture)  1237 non-null   float64
 37  Youth unemployment rate (female to male ratio)                                           1236 non-null   float64
 38  Unemployment, youth (% ages 15–24)                                                       1236 non-null   float64
 39  Mortality rate, female grown up (per 1,000 people)                                       1253 non-null   float64
 40  Mortality rate, male grown up (per 1,000 people)                                         1253 non-null   float64
 41  Infants lacking immunization, red hot disease (% of one-galactic year-olds)              1219 non-null   float64
 42  Infants lacking immunization, Combination Vaccine (% of one-galactic year-olds)          1219 non-null   float64
 43  Gross galactic product (GGP) per capita                                                  1202 non-null   float64
 44  Gross galactic product (GGP), total                                                      1202 non-null   float64
 45  Outer Galaxies direct investment, net inflows (% of GGP)                                 1169 non-null   float64
 46  Exports and imports (% of GGP)                                                           1144 non-null   float64
 47  Share of seats in senate (% held by female)                                              1123 non-null   float64
 48  Natural resource depletion                                                               1132 non-null   float64
 49  Mean years of education, female (galactic years)                                         1140 non-null   float64
 50  Mean years of education, male (galactic years)                                           1138 non-null   float64
 51  Expected years of education, female (galactic years)                                     1109 non-null   float64
 52  Expected years of education, male (galactic years)                                       1108 non-null   float64
 53  Maternal mortality ratio (deaths per 100,000 live births)                                1252 non-null   float64
 54  Renewable energy consumption (% of total final energy consumption)                       1235 non-null   float64
 55  Estimated gross galactic income per capita, male                                         1055 non-null   float64
 56  Estimated gross galactic income per capita, female                                       1055 non-null   float64
 57  Rural population with access to electricity (%)                                          1029 non-null   float64
 58  Domestic credit provided by financial sector (% of GGP)                                  1079 non-null   float64
 59  Population with at least some secondary education, female (% ages 25 and older)          1089 non-null   float64
 60  Population with at least some secondary education, male (% ages 25 and older)            1087 non-null   float64
 61  Gross fixed capital formation (% of GGP)                                                 1074 non-null   float64
 62  Remittances, inflows (% of GGP)                                                          1028 non-null   float64
 63  Population with at least some secondary education (% ages 25 and older)                  1051 non-null   float64
 64  Intergalactic inbound tourists (thousands)                                               995 non-null    float64
 65  Gross enrolment ratio, primary (% of primary under-age population)                       1038 non-null   float64
 66  Respiratory disease incidence (per 100,000 people)                                       896 non-null    float64
 67  Interstellar phone subscriptions (per 100 people)                                        891 non-null    float64
 68  Interstellar Data Net users, total (% of population)                                     872 non-null    float64
 69  Current health expenditure (% of GGP)                                                    867 non-null    float64
 70  Intergalactic Development Index (IDI), female                                            916 non-null    float64
 71  Intergalactic Development Index (IDI), male                                              915 non-null    float64
 72  Gender Development Index (GDI)                                                           914 non-null    float64
 73  Intergalactic Development Index (IDI), female, Rank                                      893 non-null    float64
 74  Intergalactic Development Index (IDI), male, Rank                                        892 non-null    float64
 75  Adjusted net savings                                                                     912 non-null    float64
 76  Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total                941 non-null    float64
 77  Private galaxy capital flows (% of GGP)                                                  874 non-null    float64
 78  Gender Inequality Index (GII)                                                            844 non-null    float64
 79  y                                                                                        3865 non-null   float64
dtypes: float64(78), int64(1), object(1)
memory usage: 2.4+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 890 entries, 0 to 889
Data columns (total 79 columns):
 #   Column                                                                                   Non-Null Count  Dtype
---  ------                                                                                   --------------  -----
 0   galactic year                                                                            890 non-null    int64
 1   galaxy                                                                                   890 non-null    object
 2   existence expectancy index                                                               885 non-null    float64
 3   existence expectancy at birth                                                            885 non-null    float64
 4   Gross income per capita                                                                  885 non-null    float64
 5   Income Index                                                                             885 non-null    float64
 6   Expected years of education (galactic years)                                             885 non-null    float64
 7   Mean years of education (galactic years)                                                 882 non-null    float64
 8   Intergalactic Development Index (IDI)                                                    882 non-null    float64
 9   Education Index                                                                          882 non-null    float64
 10  Intergalactic Development Index (IDI), Rank                                              880 non-null    float64
 11  Population using at least basic drinking-water services (%)                              880 non-null    float64
 12  Population using at least basic sanitation services (%)                                  880 non-null    float64
 13  Gross capital formation (% of GGP)                                                       828 non-null    float64
 14  Population, total (millions)                                                             615 non-null    float64
 15  Population, urban (%)                                                                    615 non-null    float64
 16  Mortality rate, under-five (per 1,000 live births)                                       615 non-null    float64
 17  Mortality rate, infant (per 1,000 live births)                                           615 non-null    float64
 18  Old age dependency ratio (old age (65 and older) per 100 creatures (ages 15-64))         610 non-null    float64
 19  Population, ages 15–64 (millions)                                                        610 non-null    float64
 20  Population, ages 65 and older (millions)                                                 610 non-null    float64
 21  Life expectancy at birth, male (galactic years)                                          610 non-null    float64
 22  Life expectancy at birth, female (galactic years)                                        610 non-null    float64
 23  Population, under age 5 (millions)                                                       610 non-null    float64
 24  Young age (0-14) dependency ratio (per 100 creatures ages 15-64)                         610 non-null    float64
 25  Adolescent birth rate (births per 1,000 female creatures ages 15-19)                     610 non-null    float64
 26  Total unemployment rate (female to male ratio)                                           605 non-null    float64
 27  Vulnerable employment (% of total employment)                                            605 non-null    float64
 28  Unemployment, total (% of labour force)                                                  605 non-null    float64
 29  Employment in agriculture (% of total employment)                                        605 non-null    float64
 30  Labour force participation rate (% ages 15 and older)                                    605 non-null    float64
 31  Labour force participation rate (% ages 15 and older), female                            605 non-null    float64
 32  Employment in services (% of total employment)                                           605 non-null    float64
 33  Labour force participation rate (% ages 15 and older), male                              605 non-null    float64
 34  Employment to population ratio (% ages 15 and older)                                     605 non-null    float64
 35  Jungle area (% of total land area)                                                       608 non-null    float64
 36  Share of employment in nonagriculture, female (% of total employment in nonagriculture)  605 non-null    float64
 37  Youth unemployment rate (female to male ratio)                                           605 non-null    float64
 38  Unemployment, youth (% ages 15–24)                                                       605 non-null    float64
 39  Mortality rate, female grown up (per 1,000 people)                                       595 non-null    float64
 40  Mortality rate, male grown up (per 1,000 people)                                         595 non-null    float64
 41  Infants lacking immunization, red hot disease (% of one-galactic year-olds)              615 non-null    float64
 42  Infants lacking immunization, Combination Vaccine (% of one-galactic year-olds)          615 non-null    float64
 43  Gross galactic product (GGP) per capita                                                  605 non-null    float64
 44  Gross galactic product (GGP), total                                                      605 non-null    float64
 45  Outer Galaxies direct investment, net inflows (% of GGP)                                 610 non-null    float64
 46  Exports and imports (% of GGP)                                                           589 non-null    float64
 47  Share of seats in senate (% held by female)                                              600 non-null    float64
 48  Natural resource depletion                                                               591 non-null    float64
 49  Mean years of education, female (galactic years)                                         575 non-null    float64
 50  Mean years of education, male (galactic years)                                           575 non-null    float64
 51  Expected years of education, female (galactic years)                                     595 non-null    float64
 52  Expected years of education, male (galactic years)                                       595 non-null    float64
 53  Maternal mortality ratio (deaths per 100,000 live births)                                530 non-null    float64
 54  Renewable energy consumption (% of total final energy consumption)                       534 non-null    float64
 55  Estimated gross galactic income per capita, male                                         605 non-null    float64
 56  Estimated gross galactic income per capita, female                                       605 non-null    float64
 57  Rural population with access to electricity (%)                                          615 non-null    float64
 58  Domestic credit provided by financial sector (% of GGP)                                  569 non-null    float64
 59  Population with at least some secondary education, female (% ages 25 and older)          550 non-null    float64
 60  Population with at least some secondary education, male (% ages 25 and older)            550 non-null    float64
 61  Gross fixed capital formation (% of GGP)                                                 556 non-null    float64
 62  Remittances, inflows (% of GGP)                                                          576 non-null    float64
 63  Population with at least some secondary education (% ages 25 and older)                  540 non-null    float64
 64  Intergalactic inbound tourists (thousands)                                               574 non-null    float64
 65  Gross enrolment ratio, primary (% of primary under-age population)                       504 non-null    float64
 66  Respiratory disease incidence (per 100,000 people)                                       615 non-null    float64
 67  Interstellar phone subscriptions (per 100 people)                                        613 non-null    float64
 68  Interstellar Data Net users, total (% of population)                                     603 non-null    float64
 69  Current health expenditure (% of GGP)                                                    606 non-null    float64
 70  Intergalactic Development Index (IDI), female                                            560 non-null    float64
 71  Intergalactic Development Index (IDI), male                                              560 non-null    float64
 72  Gender Development Index (GDI)                                                           560 non-null    float64
 73  Intergalactic Development Index (IDI), female, Rank                                      549 non-null    float64
 74  Intergalactic Development Index (IDI), male, Rank                                        549 non-null    float64
 75  Adjusted net savings                                                                     519 non-null    float64
 76  Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total                482 non-null    float64
 77  Private galaxy capital flows (% of GGP)                                                  536 non-null    float64
 78  Gender Inequality Index (GII)                                                            529 non-null    float64
dtypes: float64(77), int64(1), object(1)
memory usage: 549.4+ KB

Distinct galaxies.

In [46]:
def galaxies(df):
    return df.galaxy.nunique()

print(f'Distinct galaxies in the train dataset: {galaxies(train)}')
print(f'Distinct galaxies in the test dataset: {galaxies(test)}')

Distinct galaxies in the train dataset: 181
Distinct galaxies in the test dataset: 172

Some prior statistics, also a comparison of the number of missing values.

In [47]:
def statistics(df):
    return df.describe()

#for train set
statistics(train)

,galactic year,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),Education Index,"Intergalactic Development Index (IDI), Rank",Population using at least basic drinking-water services (%),Population using at least basic sanitation services (%),Gross capital formation (% of GGP),"Population, total (millions)","Population, urban (%)","Mortality rate, under-five (per 1,000 live births)","Mortality rate, infant (per 1,000 live births)",Old age dependency ratio (old age (65 and older) per 100 creatures (ages 15-64)),"Population, ages 15–64 (millions)","Population, ages 65 and older (millions)","Life expectancy at birth, male (galactic years)","Life expectancy at birth, female (galactic years)","Population, under age 5 (millions)",Young age (0-14) dependency ratio (per 100 creatures ages 15-64),"Adolescent birth rate (births per 1,000 female creatures ages 15-19)",Total unemployment rate (female to male ratio),Vulnerable employment (% of total employment),"Unemployment, total (% of labour force)",Employment in agriculture (% of total employment),Labour force participation rate (% ages 15 and older),"Labour force participation rate (% ages 15 and older), female",Employment in services (% of total employment),"Labour force participation rate (% ages 15 and older), male",Employment to population ratio (% ages 15 and older),Jungle area (% of total land area),"Share of employment in nonagriculture, female (% of total employment in nonagriculture)",Youth unemployment rate (female to male ratio),"Unemployment, youth (% ages 15–24)","Mortality rate, female grown up (per 1,000 people)","Mortality rate, male grown up (per 1,000 people)","Infants lacking immunization, red hot disease (% of one-galactic year-olds)","Infants lacking immunization, Combination Vaccine (% of one-galactic year-olds)",Gross galactic product (GGP) per capita,"Gross galactic product (GGP), total","Outer Galaxies direct investment, net inflows (% of GGP)",Exports and imports (% of GGP),Share of seats in senate (% held by female),Natural resource depletion,"Mean years of education, female (galactic years)","Mean years of education, male (galactic years)","Expected years of education, female (galactic years)","Expected years of education, male (galactic years)","Maternal mortality ratio (deaths per 100,000 live births)",Renewable energy consumption (% of total final energy consumption),"Estimated gross galactic income per capita, male","Estimated gross galactic income per capita, female",Rural population with access to electricity (%),Domestic credit provided by financial sector (% of GGP),"Population with at least some secondary education, female (% ages 25 and older)","Population with at least some secondary education, male (% ages 25 and older)",Gross fixed capital formation (% of GGP),"Remittances, inflows (% of GGP)",Population with at least some secondary education (% ages 25 and older),Intergalactic inbound tourists (thousands),"Gross enrolment ratio, primary (% of primary under-age population)","Respiratory disease incidence (per 100,000 people)",Interstellar phone subscriptions (per 100 people),"Interstellar Data Net users, total (% of population)",Current health expenditure (% of GGP),"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),"Intergalactic Development Index (IDI), female, Rank","Intergalactic Development Index (IDI), male, Rank",Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP),Gender Inequality Index (GII),y
count,3.865000e+03,3864.000000,3864.000000,3837.000000,3837.000000,3732.000000,3502.000000,3474.000000,3474.000000,3432.000000,2021.000000,2015.000000,1502.000000,1271.000000,1271.000000,1271.000000,1259.000000,1264.000000,1264.000000,1264.000000,1264.000000,1264.000000,1264.000000,1264.000000,1252.000000,1237.000000,1237.000000,1237.000000,1237.000000,1237.000000,1237.000000,1237.000000,1237.000000,1237.000000,1234.000000,1237.000000,1236.000000,1236.000000,1253.000000,1253.000000,1219.000000,1219.000000,1202.000000,1202.000000,1169.000000,1144.000000,1123.000000,1132.000000,1140.000000,1138.000000,1109.000000,1108.000000,1252.000000,1235.000000,1055.000000,1055.000000,1029.000000,1079.000000,1089.000000,1087.000000,1074.000000,1028.000000,1051.000000,9.950000e+02,1038.000000,896.000000,891.000000,872.000000,867.000000,916.000000,915.000000,914.000000,893.000000,892.000000,912.000000,941.000000,874.000000,844.000000,3865.000000
mean,1.000709e+06,0.872479,76.798111,31633.240872,0.825154,14.723296,10.283959,0.804246,0.745900,135.129178,101.892238,99.936784,31.857342,891.288631,77.226910,97.400110,64.900678,18.901363,578.330955,65.069402,74.721619,80.157778,89.530729,78.215747,113.357030,2.773713,68.643870,14.614163,54.028587,72.697426,66.164818,68.315626,82.919633,68.952026,55.018813,50.157581,2.256298,29.631487,267.436281,344.343547,31.329011,18.803610,33338.261474,7749.980713,18.342364,133.437435,26.620189,13.768609,10.591274,10.869666,15.693664,14.994516,554.342469,63.727357,42115.320694,23037.546899,108.278880,118.691310,79.807076,82.869205,29.939315,11.934754,81.103612,1.155343e+05,115.660372,313.414095,116.617049,57.885348,8.837096,0.823561,0.844209,1.008465,121.754797,120.873428,21.252922,6.443023,22.261474,0.600733,0.082773
std,6.945463e+03,0.162367,10.461654,18736.378445,0.194055,3.612546,3.319948,0.176242,0.199795,52.449535,20.319860,32.364952,8.476195,894.146454,24.199224,55.721177,33.996543,7.540301,571.041188,63.140348,9.895094,10.670691,89.705054,25.532294,52.084687,1.336833,29.777854,6.740401,25.158795,10.742800,16.835815,19.271434,9.248342,12.131908,24.795099,11.865219,0.810118,12.940235,116.799361,124.247684,16.871995,11.507015,18946.699888,7167.779999,15.384455,53.008439,11.080168,9.601278,3.699796,3.116771,3.989264,3.227630,359.375217,32.246925,24076.405011,13075.768516,39.648937,61.434493,30.724724,28.319110,7.644602,9.019880,29.881017,1.133816e+05,17.311864,195.343738,50.065611,29.801042,2.806800,0.185780,0.159041,0.087299,46.269362,46.795666,14.258986,4.804873,34.342797,0.205785,0.063415
min,9.900250e+05,0.227890,34.244062,-126.906522,0.292001,3.799663,1.928166,0.273684,0.189874,9.925906,33.135967,10.609505,2.486353,-160.436179,20.784384,9.723443,12.790939,4.297445,-91.294595,-23.658715,39.156694,40.938180,-2.089459,11.622025,14.344434,0.926083,11.659018,1.957005,-0.682781,44.236746,14.411328,13.818126,47.244415,33.395005,7.133942,13.016707,0.611536,4.484507,65.329077,75.165358,2.338115,-1.319575,4007.142621,-933.222806,-5.266101,18.993336,4.228300,-0.374549,1.317012,2.948515,3.732250,3.840845,39.176506,-1.047957,4247.338987,-947.544715,1.527037,-38.295200,7.788436,11.221248,6.131390,-0.077896,9.872986,-9.669280e+03,35.855813,31.687326,18.088936,0.513487,2.313778,0.305733,0.369519,0.465177,23.224603,16.215151,-76.741414,-1.192011,-735.186886,0.089092,0.013036
25%,9.950060e+05,0.763027,69.961449,20169.118912,0.677131,12.592467,7.654169,0.671862,0.597746,92.262724,89.467683,73.450973,27.183674,599.651057,57.480546,58.145609,39.368545,13.498253,393.558400,43.445133,68.090341,72.914881,60.158448,56.594056,72.363979,2.191452,43.709437,9.828877,34.149665,65.539014,56.422025,54.665794,76.724588,61.087487,34.476071,45.276555,1.829488,20.467253,182.561613,252.479104,19.661923,11.912306,21175.029316,5479.463771,13.016455,101.380154,18.442353,8.617752,7.488910,8.525989,13.330465,13.173085,322.722190,38.015828,26665.473530,14589.009568,76.993508,78.535217,55.374502,60.462931,25.474123,7.416814,56.907166,7.824962e+04,109.728154,193.630580,72.951064,34.154325,6.843091,0.690707,0.731264,0.965800,84.090816,82.232550,15.001028,4.113472,17.227899,0.430332,0.047889
50%,1.000000e+06,0.907359,78.995101,26600.768195,0.827300,14.942913,10.385465,0.824758,0.761255,135.914318,108.420709,110.268786,31.218326,774.106124,77.513523,79.132444,55.483755,16.690579,501.290141,56.847260,76.575955,82.654962,77.691358,75.229151,103.810446,2.586348,64.269229,13.282366,49.544387,72.503192,67.220676,69.399759,83.563166,69.390147,53.323552,52.655253,2.163894,26.696081,238.147211,327.445756,26.548535,15.337205,27952.615994,7130.470458,16.748539,125.729240,24.478649,11.276238,10.590505,10.878198,16.040843,14.982357,441.946366,55.306614,35510.062934,19431.715788,123.891613,104.415494,79.109907,81.261541,29.422015,10.043176,80.392817,1.017765e+05,117.509720,256.146014,121.210823,49.276119,8.518629,0.835410,0.862773,1.029947,120.069916,121.057923,22.182571,5.309497,24.472557,0.624640,0.057820
75%,1.006009e+06,0.992760,84.558971,36898.631754,0.970295,17.123797,12.884752,0.939043,0.893505,175.301993,116.904405,125.643093,36.028713,952.230520,97.683482,123.568133,83.306699,23.289465,614.058179,69.752739,82.063402,88.028001,95.077464,99.880174,145.084181,3.082616,92.379565,17.698858,71.633303,79.363394,76.365586,83.128028,89.183736,76.238239,71.525418,57.670739,2.570585,36.429821,325.978020,414.889764,38.217158,21.355407,40374.968031,8786.804004,20.931706,154.888236,33.253269,15.546214,13.567263,13.214606,18.498455,17.088973,680.904735,87.353384,50069.354641,27312.730190,138.284913,145.758140,104.892998,105.868025,33.548092,13.234928,103.964291,1.246525e+05,124.388203,361.773182,156.301903,77.881871,10.573365,0.970365,0.961369,1.068481,158.579644,157.815625,29.134738,6.814577,31.748295,0.767404,0.087389
max,1.015056e+06,1.246908,100.210053,151072.683156,1.361883,26.955944,19.057648,1.232814,1.269625,278.786613,136.321824,161.270978,72.305819,7993.323502,129.912097,379.419737,208.502053,52.216232,5542.809249,649.493058,95.541930,101.675801,780.964371,137.203149,289.808313,29.656664,143.932157,44.852490,131.092102,103.898908,116.987448,110.761569,106.820516,103.960645,134.467454,79.490457,14.796261,84.100643,764.791133,854.029298,97.681914,72.426218,134636.648053,112391.316735,362.550323,477.057255,69.851544,100.405982,18.492886,19.136964,26.981588,29.045188,3178.333696,146.130697,187663.569771,83638.776543,174.913425,555.803450,153.670584,150.695400,75.084941,172.734338,149.492015,1.228843e+06,178.402762,1380.914850,271.310695,141.382200,23.531546,1.237661,1.182746,1.181230,232.720847,233.915373,61.903641,36.538462,95.941245,1.098439,0.683813

In [48]:
#for test set.
statistics(test)

,galactic year,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),Education Index,"Intergalactic Development Index (IDI), Rank",Population using at least basic drinking-water services (%),Population using at least basic sanitation services (%),Gross capital formation (% of GGP),"Population, total (millions)","Population, urban (%)","Mortality rate, under-five (per 1,000 live births)","Mortality rate, infant (per 1,000 live births)",Old age dependency ratio (old age (65 and older) per 100 creatures (ages 15-64)),"Population, ages 15–64 (millions)","Population, ages 65 and older (millions)","Life expectancy at birth, male (galactic years)","Life expectancy at birth, female (galactic years)","Population, under age 5 (millions)",Young age (0-14) dependency ratio (per 100 creatures ages 15-64),"Adolescent birth rate (births per 1,000 female creatures ages 15-19)",Total unemployment rate (female to male ratio),Vulnerable employment (% of total employment),"Unemployment, total (% of labour force)",Employment in agriculture (% of total employment),Labour force participation rate (% ages 15 and older),"Labour force participation rate (% ages 15 and older), female",Employment in services (% of total employment),"Labour force participation rate (% ages 15 and older), male",Employment to population ratio (% ages 15 and older),Jungle area (% of total land area),"Share of employment in nonagriculture, female (% of total employment in nonagriculture)",Youth unemployment rate (female to male ratio),"Unemployment, youth (% ages 15–24)","Mortality rate, female grown up (per 1,000 people)","Mortality rate, male grown up (per 1,000 people)","Infants lacking immunization, red hot disease (% of one-galactic year-olds)","Infants lacking immunization, Combination Vaccine (% of one-galactic year-olds)",Gross galactic product (GGP) per capita,"Gross galactic product (GGP), total","Outer Galaxies direct investment, net inflows (% of GGP)",Exports and imports (% of GGP),Share of seats in senate (% held by female),Natural resource depletion,"Mean years of education, female (galactic years)","Mean years of education, male (galactic years)","Expected years of education, female (galactic years)","Expected years of education, male (galactic years)","Maternal mortality ratio (deaths per 100,000 live births)",Renewable energy consumption (% of total final energy consumption),"Estimated gross galactic income per capita, male","Estimated gross galactic income per capita, female",Rural population with access to electricity (%),Domestic credit provided by financial sector (% of GGP),"Population with at least some secondary education, female (% ages 25 and older)","Population with at least some secondary education, male (% ages 25 and older)",Gross fixed capital formation (% of GGP),"Remittances, inflows (% of GGP)",Population with at least some secondary education (% ages 25 and older),Intergalactic inbound tourists (thousands),"Gross enrolment ratio, primary (% of primary under-age population)","Respiratory disease incidence (per 100,000 people)",Interstellar phone subscriptions (per 100 people),"Interstellar Data Net users, total (% of population)",Current health expenditure (% of GGP),"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),"Intergalactic Development Index (IDI), female, Rank","Intergalactic Development Index (IDI), male, Rank",Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP),Gender Inequality Index (GII)
count,8.900000e+02,885.000000,885.000000,885.000000,885.000000,885.000000,882.000000,882.000000,882.000000,880.000000,880.000000,880.000000,828.000000,615.000000,615.000000,615.000000,615.000000,610.000000,610.000000,610.000000,610.000000,610.000000,610.000000,610.000000,610.000000,605.000000,605.000000,605.000000,605.000000,605.000000,605.000000,605.000000,605.000000,605.000000,608.000000,605.000000,605.000000,605.000000,595.000000,595.000000,615.000000,615.000000,605.000000,605.000000,610.000000,589.000000,600.000000,591.000000,575.000000,575.000000,595.000000,595.000000,530.000000,534.000000,605.000000,605.000000,615.000000,569.000000,550.000000,550.000000,556.000000,576.000000,540.000000,5.740000e+02,504.000000,615.000000,613.000000,603.000000,606.000000,560.000000,560.000000,560.000000,549.000000,549.000000,519.000000,482.000000,536.000000,529.000000
mean,1.011498e+06,0.923881,79.938370,33655.513114,0.856869,16.037675,11.229365,0.845626,0.801581,147.296372,103.269112,101.540670,33.175416,822.599136,79.710012,83.867147,55.640782,19.822029,521.578530,59.670162,77.419461,82.940047,80.515340,71.735801,102.818635,2.839781,68.308322,14.240638,52.940684,72.799865,67.527878,69.884477,81.761899,69.426425,56.037783,51.528492,2.384976,29.812774,241.320112,314.681025,28.334858,17.910033,34173.600691,7886.655201,18.390226,135.006115,30.534491,14.002078,11.363369,11.586925,16.561820,15.682089,500.452249,65.202488,42497.876253,23862.216101,109.373183,134.573534,88.634093,90.439327,31.258949,12.519178,88.914785,1.065299e+05,119.524485,300.565699,146.524649,69.320998,8.936240,0.848007,0.862777,1.015743,128.712080,128.635268,20.640391,6.036133,23.274262,0.563059
std,2.881505e+03,0.134856,9.051945,18940.572797,0.186299,3.170799,3.333436,0.164942,0.192220,57.532201,18.790481,32.449756,9.028346,505.625922,23.229181,39.888592,24.497985,8.840012,340.427176,39.836946,8.338337,9.221072,48.688501,24.633415,47.048325,1.612227,29.819781,6.526505,24.722637,11.409581,16.764332,19.460563,9.875720,12.838646,24.588776,11.921507,1.471933,13.233824,97.604654,101.696433,13.860867,10.187963,18130.680060,6321.226318,12.822591,46.730794,11.177026,8.401384,3.741832,2.981674,3.608705,2.762135,257.836830,30.898116,22533.913183,13276.881824,38.279922,67.545744,31.776988,29.452482,8.494553,6.790645,29.779565,7.257177e+04,13.880196,171.936351,41.420980,29.811139,2.610288,0.185827,0.151898,0.100165,48.871212,48.684267,15.365777,4.157453,13.787944,0.203167
min,1.007012e+06,0.456086,51.562543,734.072777,0.357646,6.902194,3.224037,0.452401,0.268006,5.235352,42.942388,14.359368,3.238324,129.771611,18.736440,1.860430,5.119597,6.056080,-46.552435,-5.674580,54.922852,56.960457,-13.528782,20.081651,18.987084,0.881378,11.553567,1.810054,9.232389,39.245308,10.323953,19.240301,44.275747,37.404829,6.555390,13.423043,0.617516,7.276605,46.240990,90.913309,3.939784,0.650980,5117.324040,-486.147407,-33.596008,47.852616,2.413699,2.194262,1.621813,3.896559,7.227032,6.094778,43.694382,13.947886,7770.072985,2835.005186,11.892230,13.890397,15.482232,16.708090,11.668894,2.163310,17.849373,-1.238540e+04,73.551803,12.655685,26.804832,11.035067,2.820374,0.180104,0.491085,0.319004,6.740082,18.526901,-62.918138,-0.455652,-74.254897,0.139063
25%,1.009020e+06,0.834118,73.863054,21276.527313,0.710236,13.711596,8.634776,0.711922,0.648948,101.506337,92.284461,74.399822,27.685876,595.619632,63.405256,54.019207,36.760771,13.439682,381.053784,43.653491,71.303105,76.227641,59.418365,51.671736,66.386563,2.155084,42.978485,9.829924,33.132571,65.285581,59.206131,53.637204,75.454114,60.709278,36.253880,46.907573,1.869297,19.672100,169.193932,236.995070,18.298763,11.812915,22009.687167,5898.541991,13.399910,101.681227,22.644128,8.770887,8.177826,9.342041,14.107446,13.955331,329.488931,40.107264,27139.735648,14860.298005,79.436422,90.926440,63.611225,66.204245,25.780720,8.421211,65.240683,7.744052e+04,112.987943,183.170281,117.073292,44.049096,7.037902,0.711255,0.739310,0.970260,88.348928,90.098284,14.394432,4.075216,16.943013,0.380811
50%,1.011030e+06,0.944683,81.471317,28264.476530,0.868819,16.269818,11.274397,0.863623,0.817313,147.972770,109.319152,112.323007,31.987139,787.845338,80.573358,72.760902,50.199298,16.762296,495.750013,56.269066,78.725747,85.131919,77.768857,65.975405,92.090208,2.612663,63.281390,12.896127,48.380789,73.219352,69.111281,72.316158,82.381798,69.736530,53.894108,54.541013,2.205113,27.520671,221.445738,314.032880,25.472467,15.412165,29253.360361,7367.889677,16.794453,129.583287,28.530137,11.608872,11.725131,11.819353,16.801366,15.783003,431.916027,59.210380,36117.749540,20184.337770,124.001084,115.478096,90.625458,90.901036,30.243204,10.708624,91.047384,1.019553e+05,119.301292,251.059920,149.313694,66.414878,8.685332,0.879984,0.888459,1.039880,129.450600,130.491213,21.599869,5.185122,23.714018,0.569413
75%,1.014049e+06,1.022712,86.426984,41130.714108,0.997650,18.272034,14.067355,0.977608,0.953022,195.585489,116.903695,126.935517,37.628365,976.598507,97.699689,106.964509,72.994931,25.264769,603.433630,71.679977,83.724253,89.831353,93.757171,90.339774,128.951538,3.072057,92.071858,17.247287,71.640295,79.910459,77.781386,85.779727,88.460415,76.856061,72.511819,59.287998,2.627119,36.721545,297.222738,376.153613,34.361677,20.451810,42725.434947,9044.087547,20.865812,157.634278,37.540933,16.515211,14.571880,14.131626,19.019816,17.528349,625.235781,88.276891,52600.660613,29742.554178,137.971894,159.655980,114.368823,115.696963,34.940404,14.354640,114.187392,1.250063e+05,125.882124,360.050092,175.036430,94.047333,10.769263,0.995167,0.976561,1.079805,169.529106,168.104504,28.811899,6.601704,30.746076,0.733748
max,1.016064e+06,1.250508,100.427653,134989.054424,1.307948,24.802112,18.426796,1.198469,1.188590,263.029425,135.298829,160.163928,77.924951,8248.064887,134.653279,273.815631,136.434258,50.061541,5478.741085,644.186616,94.552337,103.329964,766.198104,140.568871,253.422699,27.762385,147.338868,39.592394,126.422379,99.223983,111.053804,110.143864,107.399847,111.863707,133.336181,73.261467,28.655584,79.335651,611.068111,653.707324,92.815852,80.692324,143760.723416,109989.288839,204.959970,446.847324,71.901384,64.675074,19.183974,17.762011,25.901257,24.459132,1680.687997,142.547774,161043.391382,87298.806637,171.040266,450.484413,153.362190,153.046798,76.864668,47.445023,146.643167,1.205555e+06,165.137334,1170.728322,263.911170,149.728558,18.683942,1.220746,1.185086,1.171331,234.055255,237.382202,62.944910,31.487193,66.751764,1.088255

Correlation Existing within the data.

In [0]:
import matplotlib.pyplot as plt
plt.style.use('ggplot')
import seaborn as sns

# Analysis

This is a regression problem and the only two algorithms we can employ are either Decision trees or Linear Regression.

In this particular task, we decide on XGBoost which involves creation of meta-models ie a composition of many other models which do a combination for a final prediction. 

The objective is to find some base learners that when combined will be possible to create a final prediction that is non-linear.

Let's begin by trying some trees as the base learners.

In [20]:
#required libraries.
import xgboost as xgb

#split the data to X_train,y_train,X_test
y_train = train['y']
X_train = train.drop(columns='y').set_index(['galactic year','galaxy'])
X_test = test.set_index(['galactic year','galaxy'])      #since there is no y column here.

y_train.head()
X_test.head()

                             existence expectancy index  \
galactic year galaxy
1007012       KK98 77                          0.456086
              Reticulum III                    0.529835
1008016       Reticulum III                    0.560976
1007012       Segue 1                          0.565910
1013042       Virgo I                          0.588274

                             existence expectancy at birth  \
galactic year galaxy
1007012       KK98 77                            51.562543
              Reticulum III                      57.228262
1008016       Reticulum III                      59.379539
1007012       Segue 1                            59.952390
1013042       Virgo I                            55.428320

                             Gross income per capita  Income Index  \
galactic year galaxy
1007012       KK98 77                   12236.576447      0.593325
              Reticulum III              3431.883825      0.675407
1008016       Reticulum III             27562.914252      0.594624
1007012       Segue 1                   20352.232905      0.837700
1013042       Virgo I                   23959.704016      0.520579

                             Expected years of education (galactic years)  \
galactic year galaxy
1007012       KK98 77                                           10.414164
              Reticulum III                                      7.239485
1008016       Reticulum III                                     11.774890
1007012       Segue 1                                           11.613621
1013042       Virgo I                                           10.392416

                             Mean years of education (galactic years)  \
galactic year galaxy
1007012       KK98 77                                       10.699072
              Reticulum III                                  5.311122
1008016       Reticulum III                                  5.937797
1007012       Segue 1                                       10.067882
1013042       Virgo I                                        6.374637

                             Intergalactic Development Index (IDI)  \
galactic year galaxy
1007012       KK98 77                                     0.547114
              Reticulum III                               0.497688
1008016       Reticulum III                               0.544744
1007012       Segue 1                                     0.691641
1013042       Virgo I                                     0.530676

                             Education Index  \
galactic year galaxy
1007012       KK98 77               0.556267
              Reticulum III         0.409969
1008016       Reticulum III         0.486167
1007012       Segue 1               0.523441
1013042       Virgo I               0.580418

                             Intergalactic Development Index (IDI), Rank  \
galactic year galaxy
1007012       KK98 77                                         232.621842
              Reticulum III                                   247.580771
1008016       Reticulum III                                   249.798771
1007012       Segue 1                                         211.505060
1013042       Virgo I                                         234.721069

                             Population using at least basic drinking-water services (%)  \
galactic year galaxy
1007012       KK98 77                                               105.193088
              Reticulum III                                          55.730638
1008016       Reticulum III                                          58.755900
1007012       Segue 1                                                70.176431
1013042       Virgo I                                                69.768692

                             Population using at least basic sanitation services (%)  \
galactic year galaxy
1007012       KK98 77                                                64.241392
              Reticulum III                                          46.217440
1008016       Reticulum III                                          48.897493
1007012       Segue 1                                                61.254104
1013042       Virgo I                                                51.316940

                             Gross capital formation (% of GGP)  \
galactic year galaxy
1007012       KK98 77                                 17.418350
              Reticulum III                           33.027886
1008016       Reticulum III                           31.613362
1007012       Segue 1                                 34.399007
1013042       Virgo I                                 15.657091

                             Population, total (millions)  \
galactic year galaxy
1007012       KK98 77                                 NaN
              Reticulum III                           NaN
1008016       Reticulum III                           NaN
1007012       Segue 1                                 NaN
1013042       Virgo I                         1106.554194

                             Population, urban (%)  \
galactic year galaxy
1007012       KK98 77                          NaN
              Reticulum III                    NaN
1008016       Reticulum III                    NaN
1007012       Segue 1                          NaN
1013042       Virgo I                    64.382217

                             Mortality rate, under-five (per 1,000 live births)  \
galactic year galaxy
1007012       KK98 77                                                      NaN
              Reticulum III                                                NaN
1008016       Reticulum III                                                NaN
1007012       Segue 1                                                      NaN
1013042       Virgo I                                               219.588961

                             Mortality rate, infant (per 1,000 live births)  \
galactic year galaxy
1007012       KK98 77                                                   NaN
              Reticulum III                                             NaN
1008016       Reticulum III                                             NaN
1007012       Segue 1                                                   NaN
1013042       Virgo I                                            129.974418

                             Old age dependency ratio (old age (65 and older) per 100 creatures (ages 15-64))  \
galactic year galaxy
1007012       KK98 77                                                      NaN
              Reticulum III                                                NaN
1008016       Reticulum III                                                NaN
1007012       Segue 1                                                      NaN
1013042       Virgo I                                                14.013421

                             Population, ages 15–64 (millions)  \
galactic year galaxy
1007012       KK98 77                                      NaN
              Reticulum III                                NaN
1008016       Reticulum III                                NaN
1007012       Segue 1                                      NaN
1013042       Virgo I                               474.877713

                             Population, ages 65 and older (millions)  \
galactic year galaxy
1007012       KK98 77                                             NaN
              Reticulum III                                       NaN
1008016       Reticulum III                                       NaN
1007012       Segue 1                                             NaN
1013042       Virgo I                                       21.305665

                             Life expectancy at birth, male (galactic years)  \
galactic year galaxy
1007012       KK98 77                                                    NaN
              Reticulum III                                              NaN
1008016       Reticulum III                                              NaN
1007012       Segue 1                                                    NaN
1013042       Virgo I                                              59.144562

                             Life expectancy at birth, female (galactic years)  \
galactic year galaxy
1007012       KK98 77                                                      NaN
              Reticulum III                                                NaN
1008016       Reticulum III                                                NaN
1007012       Segue 1                                                      NaN
1013042       Virgo I                                                63.990109

                             Population, under age 5 (millions)  \
galactic year galaxy
1007012       KK98 77                                       NaN
              Reticulum III                                 NaN
1008016       Reticulum III                                 NaN
1007012       Segue 1                                       NaN
1013042       Virgo I                                 80.409057

                             Young age (0-14) dependency ratio (per 100 creatures ages 15-64)  \
galactic year galaxy
1007012       KK98 77                                                      NaN
              Reticulum III                                                NaN
1008016       Reticulum III                                                NaN
1007012       Segue 1                                                      NaN
1013042       Virgo I                                               111.084652

                             Adolescent birth rate (births per 1,000 female creatures ages 15-19)  \
galactic year galaxy
1007012       KK98 77                                                      NaN
              Reticulum III                                                NaN
1008016       Reticulum III                                                NaN
1007012       Segue 1                                                      NaN
1013042       Virgo I                                               162.451451

                             Total unemployment rate (female to male ratio)  \
galactic year galaxy
1007012       KK98 77                                                   NaN
              Reticulum III                                             NaN
1008016       Reticulum III                                             NaN
1007012       Segue 1                                                   NaN
1013042       Virgo I                                              2.421466

                             Vulnerable employment (% of total employment)  \
galactic year galaxy
1007012       KK98 77                                                  NaN
              Reticulum III                                            NaN
1008016       Reticulum III                                            NaN
1007012       Segue 1                                                  NaN
1013042       Virgo I                                           126.050516

                             Unemployment, total (% of labour force)  \
galactic year galaxy
1007012       KK98 77                                            NaN
              Reticulum III                                      NaN
1008016       Reticulum III                                      NaN
1007012       Segue 1                                            NaN
1013042       Virgo I                                      13.370766

                             Employment in agriculture (% of total employment)  \
galactic year galaxy
1007012       KK98 77                                                      NaN
              Reticulum III                                                NaN
1008016       Reticulum III                                                NaN
1007012       Segue 1                                                      NaN
1013042       Virgo I                                                89.542879

                             Labour force participation rate (% ages 15 and older)  \
galactic year galaxy
1007012       KK98 77                                                      NaN
              Reticulum III                                                NaN
1008016       Reticulum III                                                NaN
1007012       Segue 1                                                      NaN
1013042       Virgo I                                                83.677526

                             Labour force participation rate (% ages 15 and older), female  \
galactic year galaxy
1007012       KK98 77                                                      NaN
              Reticulum III                                                NaN
1008016       Reticulum III                                                NaN
1007012       Segue 1                                                      NaN
1013042       Virgo I                                                 87.84634

                             Employment in services (% of total employment)  \
galactic year galaxy
1007012       KK98 77                                                   NaN
              Reticulum III                                             NaN
1008016       Reticulum III                                             NaN
1007012       Segue 1                                                   NaN
1013042       Virgo I                                             28.815475

                             Labour force participation rate (% ages 15 and older), male  \
galactic year galaxy
1007012       KK98 77                                                      NaN
              Reticulum III                                                NaN
1008016       Reticulum III                                                NaN
1007012       Segue 1                                                      NaN
1013042       Virgo I                                                88.782958

                             Employment to population ratio (% ages 15 and older)  \
galactic year galaxy
1007012       KK98 77                                                      NaN
              Reticulum III                                                NaN
1008016       Reticulum III                                                NaN
1007012       Segue 1                                                      NaN
1013042       Virgo I                                                 76.50274

                             Jungle area (% of total land area)  \
galactic year galaxy
1007012       KK98 77                                       NaN
              Reticulum III                                 NaN
1008016       Reticulum III                                 NaN
1007012       Segue 1                                       NaN
1013042       Virgo I                                 56.338491

                             Share of employment in nonagriculture, female (% of total employment in nonagriculture)  \
galactic year galaxy
1007012       KK98 77                                                      NaN
              Reticulum III                                                NaN
1008016       Reticulum III                                                NaN
1007012       Segue 1                                                      NaN
1013042       Virgo I                                                45.923296

                             Youth unemployment rate (female to male ratio)  \
galactic year galaxy
1007012       KK98 77                                                   NaN
              Reticulum III                                             NaN
1008016       Reticulum III                                             NaN
1007012       Segue 1                                                   NaN
1013042       Virgo I                                              2.043633

                             Unemployment, youth (% ages 15–24)  \
galactic year galaxy
1007012       KK98 77                                       NaN
              Reticulum III                                 NaN
1008016       Reticulum III                                 NaN
1007012       Segue 1                                       NaN
1013042       Virgo I                                 23.401352

                             Mortality rate, female grown up (per 1,000 people)  \
galactic year galaxy
1007012       KK98 77                                                      NaN
              Reticulum III                                                NaN
1008016       Reticulum III                                                NaN
1007012       Segue 1                                                      NaN
1013042       Virgo I                                               546.437704

                             Mortality rate, male grown up (per 1,000 people)  \
galactic year galaxy
1007012       KK98 77                                                     NaN
              Reticulum III                                               NaN
1008016       Reticulum III                                               NaN
1007012       Segue 1                                                     NaN
1013042       Virgo I                                              552.698573

                             Infants lacking immunization, red hot disease (% of one-galactic year-olds)  \
galactic year galaxy
1007012       KK98 77                                                      NaN
              Reticulum III                                                NaN
1008016       Reticulum III                                                NaN
1007012       Segue 1                                                      NaN
1013042       Virgo I                                                92.815852

                             Infants lacking immunization, Combination Vaccine (% of one-galactic year-olds)  \
galactic year galaxy
1007012       KK98 77                                                      NaN
              Reticulum III                                                NaN
1008016       Reticulum III                                                NaN
1007012       Segue 1                                                      NaN
1013042       Virgo I                                                76.093251

                             Gross galactic product (GGP) per capita  \
galactic year galaxy
1007012       KK98 77                                            NaN
              Reticulum III                                      NaN
1008016       Reticulum III                                      NaN
1007012       Segue 1                                            NaN
1013042       Virgo I                                   28890.168075

                             Gross galactic product (GGP), total  \
galactic year galaxy
1007012       KK98 77                                        NaN
              Reticulum III                                  NaN
1008016       Reticulum III                                  NaN
1007012       Segue 1                                        NaN
1013042       Virgo I                                5995.978901

                             Outer Galaxies direct investment, net inflows (% of GGP)  \
galactic year galaxy
1007012       KK98 77                                                      NaN
              Reticulum III                                                NaN
1008016       Reticulum III                                                NaN
1007012       Segue 1                                                      NaN
1013042       Virgo I                                                 8.248885

                             Exports and imports (% of GGP)  \
galactic year galaxy
1007012       KK98 77                                   NaN

In [14]:
X = 
y = train['y'].fillna(0)
X.head()
#y.head()

,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),Education Index,"Intergalactic Development Index (IDI), Rank",Population using at least basic drinking-water services (%),Population using at least basic sanitation services (%),Gross capital formation (% of GGP),"Population, total (millions)","Population, urban (%)","Mortality rate, under-five (per 1,000 live births)","Mortality rate, infant (per 1,000 live births)",Old age dependency ratio (old age (65 and older) per 100 creatures (ages 15-64)),"Population, ages 15–64 (millions)","Population, ages 65 and older (millions)","Life expectancy at birth, male (galactic years)","Life expectancy at birth, female (galactic years)","Population, under age 5 (millions)",Young age (0-14) dependency ratio (per 100 creatures ages 15-64),"Adolescent birth rate (births per 1,000 female creatures ages 15-19)",Total unemployment rate (female to male ratio),Vulnerable employment (% of total employment),"Unemployment, total (% of labour force)",Employment in agriculture (% of total employment),Labour force participation rate (% ages 15 and older),"Labour force participation rate (% ages 15 and older), female",Employment in services (% of total employment),"Labour force participation rate (% ages 15 and older), male",Employment to population ratio (% ages 15 and older),Jungle area (% of total land area),"Share of employment in nonagriculture, female (% of total employment in nonagriculture)",Youth unemployment rate (female to male ratio),"Unemployment, youth (% ages 15–24)","Mortality rate, female grown up (per 1,000 people)","Mortality rate, male grown up (per 1,000 people)","Infants lacking immunization, red hot disease (% of one-galactic year-olds)","Infants lacking immunization, Combination Vaccine (% of one-galactic year-olds)",Gross galactic product (GGP) per capita,"Gross galactic product (GGP), total","Outer Galaxies direct investment, net inflows (% of GGP)",Exports and imports (% of GGP),Share of seats in senate (% held by female),Natural resource depletion,"Mean years of education, female (galactic years)","Mean years of education, male (galactic years)","Expected years of education, female (galactic years)","Expected years of education, male (galactic years)","Maternal mortality ratio (deaths per 100,000 live births)",Renewable energy consumption (% of total final energy consumption),"Estimated gross galactic income per capita, male","Estimated gross galactic income per capita, female",Rural population with access to electricity (%),Domestic credit provided by financial sector (% of GGP),"Population with at least some secondary education, female (% ages 25 and older)","Population with at least some secondary education, male (% ages 25 and older)",Gross fixed capital formation (% of GGP),"Remittances, inflows (% of GGP)",Population with at least some secondary education (% ages 25 and older),Intergalactic inbound tourists (thousands),"Gross enrolment ratio, primary (% of primary under-age population)","Respiratory disease incidence (per 100,000 people)",Interstellar phone subscriptions (per 100 people),"Interstellar Data Net users, total (% of population)",Current health expenditure (% of GGP),"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),"Intergalactic Development Index (IDI), female, Rank","Intergalactic Development Index (IDI), male, Rank",Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP),Gender Inequality Index (GII)
0,0.628657,63.125200,27109.234310,0.646039,8.240543,0.000000,0.000000,0.000000,0.000000,0.0,0.0,38.305483,681.841086,22.131436,150.259290,129.841789,12.403812,490.446400,60.121580,57.028183,69.825369,46.018230,98.216072,174.617899,0.0,0.0,0.0,0.0,79.614066,73.071600,0.0,85.851544,0.0,73.166354,0.0,0.0,0.0,431.270303,466.089287,16.167871,8.223563,21158.324865,7760.639489,13.617993,94.859306,0.0,8.436392,0.000000,0.000000,0.000000,0.000000,1237.228737,118.434634,0.0,0.0,0.000000,75.604799,0.000000,0.000000,42.616284,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.0
1,0.818082,81.004994,30166.793958,0.852246,10.671823,4.742470,0.833624,0.467873,152.522198,0.0,0.0,36.255559,423.973089,89.294181,117.069332,61.822590,13.054898,560.547706,58.573002,69.873905,76.752305,40.167960,88.322574,109.892385,0.0,0.0,0.0,0.0,63.813720,45.482071,0.0,93.526359,0.0,35.590371,0.0,0.0,0.0,221.411013,376.475151,36.639519,21.007339,24984.044391,6969.137436,19.484830,77.935108,0.0,12.549351,7.096070,8.098794,11.797213,13.477707,544.458925,53.753525,0.0,0.0,0.000000,57.214150,57.314932,56.187355,29.908422,6.225946,44.780023,0.0,120.886080,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,19.177926,0.000000,22.785018,0.0
2,0.659443,59.570534,8441.707353,0.499762,8.840316,5.583973,0.469110,0.363837,209.813266,0.0,0.0,18.093991,285.572207,57.491083,226.523760,134.558437,15.963001,555.012461,43.078497,59.462626,59.152506,91.093668,114.163995,230.573666,0.0,0.0,0.0,0.0,80.874149,75.217727,0.0,95.041272,0.0,48.892555,0.0,0.0,0.0,513.730396,581.063598,31.958515,18.954434,19860.121520,3276.634176,13.357158,87.508620,0.0,13.949733,6.494764,6.730145,6.960041,6.805405,1537.953483,126.063691,0.0,0.0,0.000000,76.141735,42.405827,53.927715,18.732049,4.138115,24.030945,0.0,96.626831,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,21.151265,6.534020,0.000000,0.0
3,0.555862,52.333293,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.000000,327.202247,47.785456,279.000175,193.228799,12.940991,766.807703,51.318372,50.535797,54.931369,92.727892,97.645232,198.971328,0.0,0.0,0.0,0.0,84.721882,82.026125,0.0,86.307832,0.0,0.000000,0.0,0.0,0.0,497.785386,612.106994,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,2016.655551,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,5.912194,0.000000,0.0
4,0.991196,81.802464,81033.956906,1.131163,13.800672,13.188907,0.910341,0.918353,71.885345,0.0,0.0,34.497468,633.799718,103.562629,28.359587,51.098250,25.521926,585.434804,56.158054,85.020965,84.708158,71.493810,53.835875,61.008654,0.0,0.0,0.0,0.0,61.086141,66.286848,0.0,76.671844,0.0,0.000000,0.0,0.0,0.0,150.173225,213.691418,29.577375,11.134867,75156.049406,8957.403969,0.000000,241.901357,0.0,15.090820,11.830216,12.122982,0.000000,0.000000,232.573140,39.192277,0.0,0.0,134.967049,0.000000,77.223935,75.475076,31.398393,0.000000,66.674651,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,5.611753,0.000000,0.0